@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-violet {
  @apply bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus-visible:ring ring-violet-300 text-white;
}
.btn-violet:hover {
  @apply bg-violet-500;
}

.link {
  @apply hover:cursor-pointer text-violet-400 underline uppercase;
}