<div class="bg-white bg-opacity-75 p-4 rounded-sm">
    <p />Hello {{ user.email}}
    <btn hx-get='/api/secret' hx-trigger="click" hx-target="#authorization-results" class="btn btn-violet">get secrets...</btn>
    <div id="authorization-results">Not yet fetched...</div>
    <btn hx-post="/disconnect" hx-trigger="click" class="btn btn-violet" >Logout...</btn>
</div>