<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>hcc</title>
    <meta name="description" content="hcc online" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="hcc" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>
  <body style="margin:0px;padding:0px;overflow:hidden;height:100%;width:100%">
    <iframe
      id="hcc-frame"
      src="/hcc/frame.html"
      frameborder="0"
      class=""
      style="overflow:hidden;height:100vh;width:100vw"
    ></iframe>
    <script src="/hcc_frame.js"></script>
  </body>
</html>
