<h1>"Hello, i'm an unreplaced node, hi hi hi"</h1>
<div>
    <form class="max-w-md" hx-post="/login">
      <div class="grid grid-cols-1 gap-6">
        <label class="block">
          <span class="text-gray-700">Email-address</span>
          <input
            type="email"
            name="email"
            class="mt-1 block w-full form-input"
            placeholder="holycharisma@example.com"
          />
        </labe
        <label class="block">
          <span class="text-gray-700" hx-get="/clicked-me" hx-trigger="click">Password</span>
          <input
            name="password"
            type="password"
            class="mt-1 block w-full form-input"
            placeholder=""
          />
        </labe
        <label class="block">
          <button
            class="inline-block bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus-visible:ring ring-blue-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">
            Login
          </button>
        </label>
      </div>
    </form>
</div>