<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.9/holder.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>	
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
	
	<title>Holy Charisma</title>
	
	<style>

body {
  background-color: floralwhite;
}

/* not active container styles, override below with more specific selector */
.player .time-container {
  color: gray;
  font-weight: lighter;
}

.player.amplitude-active-song-container .time-container {
  color: inherit;
  font-weight: inherit;
}

header {
  position: relative;
  left: 40%;
  
}

.social-links {
  position: relative;
  left: 60px;
  bottom: 2px;
  
}

.video {
  height: 300px;
  width: 535px;
}

.header-title {
  background-image: url('https://cloud.bunny.holycharisma.com/logo-hcc.png');
    background-size: 16rem;
    width: 10rem;
    height: 5rem;
  background-position-x: -2rem;
  background-position-y: -3.5rem;
}


.amplitude-play-pause.amplitude-playing .play {
  display: none;
}

.amplitude-play-pause.amplitude-paused .pause {
  display: none;
}

p.lede {
  line-height: 2rem;
  
}	
</style>

</head>
<body>
	<div class="container mx-auto">

	<header class="title-and-links">
		<div class="header-title">
		</div>
		<div class="social-links">
			<ul>
				<li class="inline-block">
					<a href="https://twitch.tv/holycharisma">
						<ion-icon name="logo-twitch"></ion-icon>
					</a>
				</li>
				<li class="inline-block">
					<a href="https://instagram.com/holy.charisma">
						<ion-icon name="logo-instagram"></ion-icon>
					</a>
				</li>
				<li class="inline-block">
					<a href="https://www.tiktok.com/@holy.charisma">
						<ion-icon name="logo-tiktok"></ion-icon>
					</a>
				</li>
				<li class="inline-block">
					<a href="https://www.youtube.com/channel/UC_C1mg3xp4vm1mHSah7o4Mw">
						<ion-icon name="logo-youtube"></ion-icon>
					</a>
				</li>
				<li class="inline-block">
					<a href="https://soundcloud.com/holycharisma">
						<ion-icon name="logo-soundcloud"></ion-icon>
					</a>
				</li>
			</ul>
		</div>
	</header>

	<div class="header-image-and-bio">
		<div class="header-image">
 			<img class="w-72 mt-2 mr-2 inline float-left"
           src="https://cloud.bunny.holycharisma.com/hc-hello.jpeg">
			<p class="lede text-xl">
				The HOLY CHARISMA project was formed in the throughs of the Pandemic when
				guitarist and vocalist Mary Charisma and synth wizard and vocalist Tommy
				Charisma quit their comfortable but unfulfilling tech jobs to pursue what
				would best be described as a spiritual calling. The duo realized what they felt
				creating music together is what the world needs more of. It is this feeling
				that “Holy Charisma” refers to, and sharing it with the world became the band’s
				mission.
			</p>
		</div>
		<div class="bio">
			<p>
				With this aim in mind, Mary and Tommy began writing and recording original
				music in their home studio in San Diego, CA. They draw inspiration from the
				DIY and anti-establishment ethics of punk, the hypnotic grooves and dance floor
				catharsis of the disco era, the hummable ear worm melodies of pop, and the
				eclectic composition of prog rock to create a sound that lives between genres
				yet feels familiar. The themes of HOLY CHARISMA’s lyrics are deceptively deep,
				exploring concepts such as joy as an act of resistance and the struggles of
				personal growth, but with catchy repeated hooks, a dance-able beat and a laid
				back slacker punk aesthetic, the emphasis of the music is a fun vibe. HOLY
				CHARISMA reminds us there is something profound in having fun, something sacred
				in dancing with abandon, something that makes us feel whole as we sing and sweat
				and lose ourselves in a room of strangers turned into friends by the common love
				of music. Welcome to the world of HOLY CHARISMA, a magical dimension where you
				can let it all go, let it all out, and have a great rocking time. 
			</p>
		</div>
	</div>

	<div class="music mt-4 grid grid-cols-2 place-content-around">

		<!-- some amplitude js player stuff here ... -->
		<!-- https://serversideup.net/building-a-single-song-player/ -->
		
		<!-- design inspo from https://dribbble.com/shots/6957353-Music-Player-Widget -->
		<!-- react demo @ https://codepen.io/abxlfazl/pen/YzGEVRP -->
		
		<!-- design cards: https://tailwindcomponents.com/component/music-player-cards -->
		<!-- ampltidue js multi song demo https://codepen.io/serversideup/pen/QPjNYv -->
		
			<div class="amplitude-song-container player static w-48 mx-auto" data-amplitude-song-index="0">
			
				<div class="w-48 relative">

					<img class="w-full"
					     src="" 
					     data-amplitude-song-info="cover_art_url"
							 data-amplitude-song-index="0" />
						
					<div class="control-container cursor-pointer absolute text-white opacity-75 inset-y-1/3 h-1/3 w-full text-center grid place-items-center">
					  <div class="amplitude-play-pause text-5xl"
						     data-amplitude-song-index="0" class="play-pause">
									<span class="play">
										<ion-icon name="play"></ion-icon>
									</span>
									<span class="pause">
										<ion-icon name="pause"></ion-icon>
									</span>		
						</div>
					</div>
				
				</div>

				<progress
					class="amplitude-song-played-progress w-full" 
					id="song-played-progress-0"
					data-amplitude-song-index="0"></progress>

				<div class="time-container">
				  <span class="current-time">
				    <span class="amplitude-current-minutes"
                  data-amplitude-song-index="0"></span>:<span class="amplitude-current-seconds"
									                                            data-amplitude-song-index="0"></span>
				  </span>
				  <span class="duration float-right">
				    <span class="amplitude-duration-minutes"
						      data-amplitude-song-index="0"></span>:<span class="amplitude-duration-seconds"
									                                            data-amplitude-song-index="0"></span>
				  </span>
				</div>
				<div class="flex items-center place-content-center">
						<div class="meta-container">
						  <span data-amplitude-song-info="name"
							      data-amplitude-song-index="0" class="song-name"></span>
						</div>
					
				</div>

					<!-- player close -->
				</div>

			<div class="amplitude-song-container player static w-48 mx-auto" data-amplitude-song-index="1">
			
				<div class="w-48 relative">

					<img class="w-full"
					     src="" 
					     data-amplitude-song-info="cover_art_url"
							 data-amplitude-song-index="1" />
						
					<div class="control-container cursor-pointer absolute text-white opacity-75 inset-y-1/3 h-1/3 w-full text-center grid place-items-center">
					  <div class="amplitude-play-pause text-5xl"
						     data-amplitude-song-index="1" class="play-pause">
									<span class="play">
										<ion-icon name="play"></ion-icon>
									</span>
									<span class="pause">
										<ion-icon name="pause"></ion-icon>
									</span>		
						</div>
					</div>
				
				</div>

				<progress
					class="amplitude-song-played-progress w-full" 
					id="song-played-progress-1"
					data-amplitude-song-index="1"></progress>

				<div class="time-container">
				  <span class="current-time">
				    <span class="amplitude-current-minutes"
                  data-amplitude-song-index="1"></span>:<span class="amplitude-current-seconds"
									                                            data-amplitude-song-index="1"></span>
				  </span>
				  <span class="duration float-right">
				    <span class="amplitude-duration-minutes"
						      data-amplitude-song-index="1"></span>:<span class="amplitude-duration-seconds"
									                                            data-amplitude-song-index="1"></span>
				  </span>
				</div>
				<div class="flex items-center place-content-center">
						<div class="meta-container">
						  <span data-amplitude-song-info="name"
							      data-amplitude-song-index="1" class="song-name"></span>
						</div>
					
				</div>

					<!-- player close -->
				</div>


		<!-- music close -->
		</div>
	
		<div class="video mx-auto my-4">
			<!-- youtube embed -->
			<iframe class="w-full"
							height="300" width="535"
							src="https://www.youtube.com/embed/cVVbyfSgNdI"
							title="YouTube video player" 
							frameborder="0" 
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
		</div>
	
	
	
	<div class="photos grid grid-cols-3 place-items-center">
			<img class="w-64 justify-self-end"
	         src="https://cloud.bunny.holycharisma.com/look-one.jpeg">
			<img class="w-64"
	         src="https://cloud.bunny.holycharisma.com/look-two.jpeg">
			<img class="w-64 justify-self-start"
	         src="https://cloud.bunny.holycharisma.com/look-three.jpeg">
	</div>		
	
	<hr class="mt-8 "/>
	<div class="text-center my-4">
		hello@holycharisma.com
	</div>
		
	
	<script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule="" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/amplitudejs@v5.3.2/dist/amplitude.js"></script>


</div>

	
	
	<script>
  Amplitude.init({
    "songs": [
      {
        "name": "The Friend Song",
        "url": "https://cloud.bunny.holycharisma.com/friends_nov_22.mp3",
				"cover_art_url": "https://cloud.bunny.holycharisma.com/friends.jpg"
      },
      {
        "name": "Fly 2 Infinity",
        "url": "https://cloud.bunny.holycharisma.com/fly_nov_22.mp3",
				"cover_art_url": "https://cloud.bunny.holycharisma.com/fly2infinity.jpg"
      }
    ]
  });
	
	
	// track seek functionality
	document.getElementById('song-played-progress-0').addEventListener('click', function( e ){
	  if( Amplitude.getActiveIndex() == 0 ){
	    var offset = this.getBoundingClientRect();
	    var x = e.pageX - offset.left;

	    Amplitude.setSongPlayedPercentage( ( parseFloat( x ) / parseFloat( this.offsetWidth) ) * 100 );
	  }
	});

	document.getElementById('song-played-progress-1').addEventListener('click', function( e ){
	  if( Amplitude.getActiveIndex() == 1 ){
	    var offset = this.getBoundingClientRect();
	    var x = e.pageX - offset.left;

	    Amplitude.setSongPlayedPercentage( ( parseFloat( x ) / parseFloat( this.offsetWidth) ) * 100 );
	  }
	});
	
	</script>
</body>
</html>