<div>
    <style>
        div.logo {        
            border-radius: 1.4rem; 
            background-size: 9rem; 
            background-position: -42px, -21px; 
            background-position: 44%, center;
            height: 2.8rem; 
            width: 2.8rem; 
            position: relative;
            top: -0.333rem;
            background-image: url('https://cloud.bunny.holycharisma.com/logo.png');                    
        }
    </style>

                <div class="header-logo cursor-pointer" hx-get="/media" hx-trigger="click" hx-target="#hcc-top-hx-target">
                    <div class="logo"></div>
                </div>

                <!-- div class="header-items float-right cursor-pointer" hx-get="/login" hx-trigger="click" hx-target="#hcc-top-hx-target">
                    <button class="rounded-lg p-2">login</button>
                </div --!>

</div>
