<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" height="200px" width="600px" class="m-2 mx-auto w-96 h-48" />
<h1>I am the splash thingy</h1>
<p class="clear-both" />
