<div class="splash-container h-screen justify-center items-center flex">
    <style>
            div.splash-container {
                background-position: center;
                background-size: cover;
                background-image: url(https://cocteau.fs.computerdream.club/splash.png);
            }
            div.splash-spacer-three-twenties {
                height: 15vh;
            }
            div.splash-spacer-one-third {
                height: 33vh;
            }
    </style>

    <div class="m-auto absolute invisible sm:visible">
        <h1 class="uppercase splash-chonky-white tracking-widest text-8xl">Holy Charisma</h1>
        <div class="splash-spacer-three-twenties"></div>
    </div>

    <div class="m-auto absolute visible sm:invisible">
        <h1 class="uppercase splash-chonky-white tracking-widest text-8xl">Holy Cha ris ma</h1>
        <div class="splash-spacer-one-third"></div>
    </div>
</div>
